<div class="form-container bg-base-200 p-10 rounded-xl mt-36 shadow-lg w-1/2 mx-auto">
  <h2 class="text-4xl text-center text-primary font-extrabold mb-6">Sign Up</h2>
  <form (ngSubmit)="signup()">
    <div class="flex flex-col w-full mt-4">
      <label class="text-black">Username</label>
      <input type="text" class="input bg-neutral-content rounded-xl w-full" [(ngModel)]="formData.username" [ngModelOptions]="{standalone: true}" placeholder="Enter your username"/>
    </div>
    <div class="form-group flex space-x-4 w-full mt-4">
      <div class="flex flex-col w-1/2">
        <label class="text-black">First Name</label>
        <input type="text" class="input bg-neutral-content rounded-xl w-full" [(ngModel)]="formData.first_name" [ngModelOptions]="{standalone: true}" placeholder="Enter your first name"/>
      </div>
      <div class="flex flex-col w-1/2">
        <label class="text-black">Last Name</label>
        <input type="text" class="input bg-neutral-content rounded-xl w-full" [(ngModel)]="formData.last_name" [ngModelOptions]="{standalone: true}" placeholder="Enter your last name"/>
      </div>
    </div>
    <div class="flex flex-col w-full mt-4">
      <label class="text-black">Email</label>
      <input type="text" class="input bg-neutral-content rounded-xl w-full" [(ngModel)]="formData.email" [ngModelOptions]="{standalone: true}" placeholder="Enter your email"/>
    </div>
    <div class="flex flex-col w-full mt-4">
      <label class="text-black">Password</label>
      <input type="password" class="input bg-neutral-content rounded-xl w-full" [(ngModel)]="formData.password" [ngModelOptions]="{standalone: true}" placeholder="Enter your password"/>
    </div>
    <div class="flex flex-col w-full mt-4">
      <label class="text-black">Confirm Password</label>
      <input type="password" class="input bg-neutral-content rounded-xl w-full" [(ngModel)]="formData.password2" [ngModelOptions]="{standalone: true}" placeholder="Confirm your password"/>
    </div>
    <button type="submit" class="btn btn-primary text-white w-full mt-8 rounded-full">Sign Up</button>
  </form>
  <div class="text-center mt-4">
    Already have an account?
    <a routerLink="/login" class="link link-primary font-bold"> Sign In</a>
  </div>
</div>

